.wrapper {
    width: 100%;
    margin-top: 15px;
    text-align: center;
    animation: transitionIn 2s;
}

.title {
    span {
        font-size: 14px;
    }

    h2 {
        color: #0380a3;
    }
}

.content-wrapper {
    width: 100%;
    height: 100%;
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;

    .left {
        width: 40%;

        ul {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            list-style-type: none;
            gap: 15px;
            margin: 0;

            li {
                width: 220px;
                height: 110px;
                border-radius: 10px;
                padding: 15px;
                background-color: #1c6098;

                .icon{
                    padding-top: 5px;
                }

                // .contact-detail{
                //     margin-top: 20px;
                // }

                .heading {
                    letter-spacing: 2px;
                    margin: 5px 5px 15px 5px;
                }

                span {
                    font-weight: 600;
                    font-size: 14px;
                }

                .value{
                    margin-top: 20px;
                }
            }
        }
    }

    .right {
        width: 55%;
        form {
            width: 80%;
            display: flex;
            flex-wrap: wrap;

            mat-form-field {
                width: 100%;
                color: #b8b8b8;

                input,
                textarea,
                mat-label {
                    color: #b8b8b8;
                }
            }

            button {
                padding: 10px 20px;
                background-color: #0380a3;
                color: #fff;
                cursor: pointer;

                mat-icon{
                    transform: rotate(315deg);
                    margin-bottom: 5px;
                }
            }

            button:disabled{
                background-color: #a6a6a6;
            }
        }
    }
}

:host ::ng-deep .mdc-text-field--outlined .mdc-notched-outline__leading {
    border-color: #5596a7;
}

:host ::ng-deep .mdc-text-field--outlined .mdc-notched-outline__notch {
    border-color: #5596a7;
}

:host ::ng-deep .mdc-text-field--outlined .mdc-notched-outline__trailing {
    border-color: #5596a7;
}

:host ::ng-deep .mdc-text-field--hover .mdc-notched-outline__leading {
    border-color: #5596a7 !important;
}

@media (max-width: 768px){
    .content-wrapper {
        margin-top: 5px;
        height: 100%;
        gap: 10px;

        .left{
            width: 100%;
            height: 100px;
            font-size: 14px;

            ul{
                justify-content: space-around;
                gap: 0;
                padding: 0;
                
                li{
                    display: flex;
                    flex-wrap: wrap;
                    align-items: center;
                    justify-content: center;
                    width: 150px;
                    height: 100px;
                    padding: 0;
                    background-color: transparent;

                    .heading{
                        margin: 5px;
                    }

                    .icon{
                        padding-top: 0;
                        //width: 30px;
                        //height: 30px;
                    }

                    mat-icon{
                        width: 20px;
                        height: 20px;
                        font-size: 20px;
                        padding: 5px;
                        border-radius: 50%;
                        background-color: #1c6098;
                    }

                    .contact-detail{
                        width: 100%;
                        height: 50px;
                        padding: 5px;
                        border-radius: 10px;
                        background-color: #1c6098;
                        font-size: 14px;
                        overflow-x: hidden;
                        text-overflow: ellipsis;
                    }
                }
            }
        }

        .right{
            width: 100%;
            height: 350px;
            overflow-y: scroll;
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 0;
            margin-top: 10px;

            form{
                margin-top: 100px;
                margin-bottom: 150px;

                .button{
                    width: 100%;
                    text-align: center;
                }
            }
        }
    }
}

// :host ::ng-deep .ng-tns-c4-0{
//     padding-top: 0;
//     padding-bottom: 0;
    
// }

// :host ::ng-deep .mat-mdc-form-field{
//     line-height: 0;
// }