<div class="wrapper">
    <div class="title">
        <span>Get In Touch</span>
        <h2>Contact Me</h2>
    </div>
    <div class="content-wrapper">
        <div class="left">
            <ul class="contact-options">
                <li class="card">
                    <div class="icon">
                        <mat-icon>email</mat-icon>
                    </div>

                    <div class="contact-detail">
                        <p class="heading">Email</p>
                        <span [matTooltip]="emailId">{{emailId}}</span>
                    </div>
                </li>
                <!-- <li class="card">
                    <div class="icon">
                        <mat-icon>phone</mat-icon>
                    </div>
                    <div class="contact-detail">
                        <p class="heading">Call</p>
                        <span>+91-{{mobileNumber}}</span>
                    </div>
                </li> -->
            </ul>
        </div>
        <div class="right">
            <form [formGroup]="contactForm">
                <mat-form-field appearance="outline">
                    <mat-label>Your full name</mat-label>
                    <input matInput formControlName="fullName" placeholder="Your full name" autocomplete="off">
                    <mat-error *ngIf="contactForm.get('fullName')?.hasError('required')">
                        Full name is required
                    </mat-error>
                    <mat-icon matSuffix>person</mat-icon>
                </mat-form-field>

                <mat-form-field appearance="outline">
                    <mat-label>Your email address</mat-label>
                    <input matInput formControlName="email" placeholder="Your email address" autocomplete="off">
                    <mat-error *ngIf="contactForm.get('email')?.hasError('required')">
                        Email is required
                    </mat-error>
                    <mat-error *ngIf="contactForm.get('email')?.hasError('email')">
                        Please enter a valid email
                    </mat-error>
                    <mat-icon matSuffix>email</mat-icon>
                </mat-form-field>

                <mat-form-field appearance="outline">
                    <mat-label>Your message</mat-label>
                    <textarea matInput formControlName="message" placeholder="Your message"
                        autocomplete="off"></textarea>
                    <!-- Required validation -->
                    <mat-error *ngIf="contactForm.get('message')?.hasError('required')">
                        Message is required
                    </mat-error>

                    <!-- Min length validation -->
                    <mat-error *ngIf="contactForm.get('message')?.hasError('minlength')">
                        Message must be at least 10 characters long
                    </mat-error>

                    <!-- Max length validation -->
                    <mat-error *ngIf="contactForm.get('message')?.hasError('maxlength')">
                        Message cannot exceed 500 characters
                    </mat-error>
                </mat-form-field>
                <div class="button">
                    <button mat-button [disabled]="contactForm.invalid" (click)="onSubmit()"> 
                        <mat-icon>send</mat-icon> Send Message
                    </button>
                </div>
            </form>
        </div>
    </div>

    <app-navigation-bar></app-navigation-bar>
</div>