<div class="wrapper">
    <div class="title">
        <span>Get In Touch</span>
        <h2>Contact Me</h2>
    </div>
    <div class="content-wrapper">
        <div class="left">
            <ul class="contact-options">
                <li class="card">
                    <div class="icon">
                        <mat-icon>email</mat-icon>
                    </div>

                    <div class="contact-detail">
                        <p class="heading">Email</p>
                        <span [matTooltip]="emailId">{{emailId}}</span>
                    </div>
                </li>
                <li class="card">
                    <div class="icon">
                        <mat-icon>phone</mat-icon>
                    </div>
                    <div class="contact-detail">
                        <p class="heading">Call</p>
                        <span>+91-{{mobileNumber}}</span>
                    </div>
                </li>
            </ul>
        </div>
        <div class="right">
            <form [formGroup]="contactForm">
                <mat-form-field appearance="outline">
                    <mat-label>Your full name</mat-label>
                    <input matInput formControlName="fullName" placeholder="Your full name" autocomplete="off">
                    <mat-icon matSuffix>person</mat-icon>
                </mat-form-field>

                <mat-form-field appearance="outline">
                    <mat-label>Your email</mat-label>
                    <input matInput formControlName="email" placeholder="Your email" autocomplete="off">
                    <mat-icon matSuffix>email</mat-icon>
                </mat-form-field>

                <mat-form-field appearance="outline">
                    <mat-label>Your message</mat-label>
                    <textarea matInput formControlName="message" placeholder="Your message"
                        autocomplete="off"></textarea>
                </mat-form-field>
                <div class="button">
                    <button mat-button [disabled]="contactForm.invalid" (click)="onSubmit()">Submit</button>
                </div>
            </form>
        </div>
    </div>

    <app-navigation-bar></app-navigation-bar>
</div>