<div class="wrapper">
    <div class="experience-detail">
        <ul>
            <li class="card">
                <img src="assets/Icons/experience.png" alt="" width="40">                        
                <div class="detail">
                    <p class="heading">Experience</p>
                    <span>{{totalExperience}}+</span>
                </div>
            </li>
            <li [ngClass]="['card', 'company']">
                <img src="assets/Icons/building.png" alt="" width="40">
                <div class="detail">
                    <p class="heading">Companies</p>
                    <span>1</span>
                </div>
            </li>
            <li [ngClass]="['card', 'project']">
                <img src="assets/Icons/project-management.png" alt="" width="40">
                <div class="detail">
                    <p class="heading">Projects</p>
                    <span>1</span>
                </div>
            </li>
        </ul>
    </div>
    <div class="img-content-wrapper">
        <div class="left">
            <img src="assets/Avatar/58d1ffd773e509545c3eaa04876b09c1.png" alt="">
        </div>
        <div class="right">
            <div class="content">
                I have over {{totalExperience}}+ years of experience working with <span>.NET Core Web API</span>. During this time, I’ve developed and maintained various modules such as payroll, attendance, leave management, timesheets, work items, performance tracking, feeds, and approval workflows.
                In addition to my backend expertise, I also have a strong interest in frontend technologies including HTML, CSS, JavaScript, and frameworks like Angular and React. <br><br>My goal is to grow into a proficient full-stack developer by continuing to expand my skills across both frontend and backend development.
            </div>
            <div class="button">
                <button mat-raised-button routerLink="/contact" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Let's talk <mat-icon>arrow_forward</mat-icon></button>
            </div>
        </div>
    </div>
</div>