<div [ngClass]="['wrapper', 'theme']">
    <div class="left">
        <ul>
            <li matTooltip="Linked in" matTooltipPosition="right"><a href="https://www.linkedin.com/in/ramprakash-c-905300189" target="_blank"><img src="assets/logo/Linkedin.png" alt=""></a></li>
            <li matTooltip="Git hub" matTooltipPosition="right"><a href="https://github.com/Ramprakashcse21" target="_blank"><img src="assets/logo/Github.png" alt=""></a></li>
            <li class="email-icon" matTooltip="Email" matTooltipPosition="right"><a href="https://mail.google.com/" target="_blank"><mat-icon> email</mat-icon></a></li>
        </ul>
    </div>
    <div class="center">
        <div>
            <div>
                <p>Hello, I'm</p>
                <h1>Rampraksh C</h1>
                <p class="role">Dot net developer</p>
            </div>
            <div class="buttons">
                <button mat-button (click)="downloadCV()">Download CV</button>
                <button mat-button routerLink="/contact" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Let's talk</button>
            </div>
        </div>
        <div class="card">
            <div class="card-outline">
                <div class="person-img">
                    <img src="assets/Avatar/58d1ffd773e509545c3eaa04876b09c1.png">
                </div>
                <app-navigation-bar [isHomeScreen]="true"></app-navigation-bar>
            </div>

        </div>
    </div>
    <div class="right">
        <p routerLink="/about" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Scroll down</p>
    </div>
</div>